.header-folder {
  width: 260px;
  height: 100%;
  background-color: rgb(231, 231, 231);
  position: fixed;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header-folder__hidden {
  display: none;
}

.header-folder__icons {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  background-color: #bbbbbb;
}
.icons {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.icons > svg,
.header-folder__icons > div > svg {
  font-size: 1.5rem;
  cursor: pointer;
  color: #001730;
}

.icons > svg:hover,
.header-folder__icons > div > svg:hover {
  color: #4ad7d1;
}

.main-header {
  background-color: #001730;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.main-header-hidden {
  display: none;
}

.header-folder__folders {
  margin-top: 0.5rem;
  padding-left: 0.3rem;
}

.header-folder__folders svg {
  font-size: 0.5rem;
}
.header-folder__folders span {
  font-size: 1rem;
}
.header-folder__folders__welcomefile {
  font-size: 0.9rem !important;
  padding-left: 1rem;
  margin-top: 1.5rem !important;
  cursor: pointer;
}

.main-header__left-container {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__left-container svg,
.main-header__left-container span {
  cursor: pointer;
  font-size: 1.2rem !important;
}

.main-header__left-container svg:hover,
.main-header__left-container span:hover {
  color: #4ad7d1;
}

.main-header__right-container {
  display: flex;
  width: 54%;
  align-items: center;
  justify-content: flex-end;
}

.main-header__right-container button {
  padding: 0.5rem 1.3rem;
  color: white;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 4px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #001730;
}

.main-header__right-container button:hover {
  color: #4ad7d1;
}

.clear {
  margin-right: 1rem;
}

.no-undo path,
.no-redo {
  cursor: not-allowed;
  color: red;
}
