body {
  margin: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  cursor: pointer !important;
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
